body {
  font-family: 'Arial';
  min-width: 320px;
}

body input {
  outline: none;
}

.logo {
  margin-top: 40px;
  display: inline-block;
}

.main_mnu {
  margin-top: 40px;
  margin-left: 30px;
}

.main_mnu li {
  display: inline;
  position: relative;
  padding-right: 25px;
}

.main_mnu li:hover ul {
  left: 0px;
}

.main_mnu li a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.08px;
  padding-top: 10px;
}

.cart {
  margin-top: 20px;
  border: 1px solid #d6d6d6;
  display: block;
  line-height: 35px;
  color: #949393;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.06px;
}

.cart div {
  height: 36px;
  padding-left: 10px;
}

.cart div span {
  float: right;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.06px;
  margin-right: 10px;
}

.top_cart {
  border-bottom: 1px solid #d6d6d6;
}

.inner_mnu {
  background-color: #f59473;
  position: absolute;
  left: -9999px;
  opacity: 0;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  opacity: 0.8;
  z-index: 1;
}

.inner_mnu li {
  border-bottom: 1px solid #d6d6d6;
  display: block;
}

.inner_mnu li:hover {
  background-color: #db7a59;
}

.inner_mnu li:last-child {
  border-bottom: none;
}

.inner_mnu li a {
  font-size: 14px;
  margin-left: 10px;
}

.single_slide {
  display: inline-block;
  background-color: #EDE5DD;
  text-align: center;
  position: relative;
}

.single_slide img {
  right: 0;
  left: 0;
  margin: 0 auto;
}

.single_slide a {
  position: absolute;
  background-color: #fd926d;
  padding: 15px 20px 15px 15px;
  left: 280px;
  top: 300px;
  color: #ffffff;
  font-family: "HelveticaThin";
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 3px 0 #dd6b44;
  outline: none;
}

.single_slide a:hover {
  opacity: 0.8;
}

.single_slide a:active {
  background-color: #FB7A64;
}

.fa-caret-right {
  padding-left: 15px;
  font-size: 5px;
}

.big_slider {
  width: 100%;
  margin-top: 20px;
}

.big_slider .slick-arrow {
  padding: 50px 10px;
  background-color: #fdfcfb;
  opacity: 0.9;
  top: 37%;
}

.big_slider .slick-arrow:hover {
  opacity: 0.6;
}

.big_slider img[src="img/prev_arrow.png"] {
  position: absolute;
  left: 0;
  z-index: 1;
}

.big_slider img[src="img/next_arrow.png"] {
  position: absolute;
  right: 0;
  z-index: 1;
}

.social {
  background-color: #ededed;
  height: 55px;
}

.social span {
  line-height: 55px;
  display: inline-block;
  margin-right: 10px;
  color: #6b6b6b;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
}

.social input {
  width: 137px;
  height: 30px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  vertical-align: middle;
  color: #9f9f9f;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.06px;
  padding-left: 10px;
}

.add {
  border: none;
  background-color: #fd926d;
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0 3px 0 #dd6b44;
  width: 30px;
  height: 27px;
  outline: none;
  box-sizing: border-box;
}

.add:active {
  background-color: #FB7A64;
}

.add:hover {
  opacity: 0.8;
}

.soc_icons {
  display: inline-block;
  float: right;
}

.soc_icons i {
  padding: 20px;
  color: #6B6B6B;
}

.soc_icons i:hover {
  background-color: #F3F3F3;
}

.adw_img {
  margin-top: 40px;
}

.adw_img a {
  position: relative;
  display: inline-block;
  float: left;
  font-family: "HelveticaThin";
  color: #414141;
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

.best_sellers {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
}

.best_sellers span {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
  display: block;
  line-height: 60px;
}

.fall_leather {
  position: absolute;
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  top: 40px;
  left: 10px;
  display: inline-block;
  width: 120px;
  text-align: center;
}

.fall_leather #btn_2 {
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #4fafa0;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.fall_leather #btn_2:hover {
  opacity: 0.8;
}

.menu_button {
  margin-top: 10px;
  display: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 45px;
  padding-left: 10px;
  background-color: #fd926d;
  text-decoration: none;
  color: #fff;
}

.menu_button .fa-bars {
  line-height: 45px;
  margin-right: 10px;
  float: right;
}

.menu_button:hover {
  background-color: #f8a883;
  text-decoration: none;
  color: #fff;
}

.second {
  padding-bottom: 50px;
  border-bottom: 2px solid #EDEDED;
  display: block;
  height: 500px;
}

.second_slider_wrapper {
  width: 970px;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 500px;
}

.tabs_list {
  padding: 0;
  margin-top: 50px;
}

.tabs_list li {
  display: inline;
  font-family: 'Arial';
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
}

.tabs_list li:hover {
  background-color: #fd926d;
  color: #fff;
}

.show_tabs {
  margin-top: 10px;
  border-bottom: 1px solid #fd7f54;
  display: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 45px;
  padding-left: 10px;
  background-color: #fd926d;
  text-decoration: none;
  color: #fff;
}

.show_tabs .fa-caret-down {
  line-height: 45px;
  margin-right: 10px;
  float: right;
}

.show_tabs:hover {
  background-color: #f8a883;
  text-decoration: none;
  color: #fff;
}

.second_slider {
  position: relative;
  background-color: #fd926d;
  width: 970px;
  height: 460px;
}

.one_slide {
  position: relative;
  box-sizing: content-box;
  margin-top: 30px;
  height: 400px;
  padding-left: 11.5px;
}

.one_slide:hover {
  zoom: 1.05;
}

.buy_product {
  height: 110px;
  background-color: #fff;
  position: relative;
  width: 221px;
}

.product {
  font-family: "Arial";
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}

.price {
  font-family: "Arial";
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.5;
}

.add_to_cart {
  position: absolute;
  width: 120px;
  height: 35px;
  z-index: 1;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 2px;
  line-height: 35px;
  font-size: 12px;
  text-transform: uppercase;
}

.selected {
  background-color: #fd926d;
}

.designers {
  display: none;
}

.featured {
  display: none;
}

.latest {
  display: none;
}

.slick-next.slick-arrow {
  background-color: #f2f2f2;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -23px;
  right: 0px;
}

.slick-next.slick-arrow:focus {
  background-color: #fd926d;
}

.slick-prev.slick-arrow {
  background-color: #f2f2f2;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -23px;
  left: 880px;
}

.slick-prev.slick-arrow:focus {
  background-color: #fd926d;
}

.shop_circle {
  position: absolute;
  width: 137px;
  height: 137px;
  border-radius: 100px;
  background-color: #3d3d3d;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 2;
  top: 80px;
  left: 60px;
  display: none;
  border: none;
}

.shop_circle p {
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
}

.shop_circle p .fa-shopping-bag {
  font-size: 20px;
}

.clearence {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #EDEDED;
}

.sale_img {
  text-align: center;
}

.test {
  width: 700px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.one_slide {
  display: inline-block;
}

.sale_item {
  background-color: #f7f7f7;
}

.sale_block {
  width: 970px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.brands_section {
  border-bottom: 2px solid #EDEDED;
}

.brands_block {
  padding-bottom: 50px;
  text-align: center;
  margin: 0;
}

.brands_block img {
  margin-right: 3%;
  margin-top: 30px;
}

.brands_block h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-family: "ArialBold";
  font-weight: 400;
}

.about_section {
  text-align: center;
}

.payments {
  text-align: center;
  background-color: #F7F7F7;
  padding: 20px 0px;
}

.payments img {
  margin-left: 10px;
}

.payments span {
  vertical-align: middle;
  color: #B6B6B6;
  font-size: 12px;
  font-family: "Arial";
}

footer {
  background-color: #EDEDED;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  color: #544f4d;
  font-size: 12px;
  font-family: 'Arial';
}

.footer_titles {
  font-family: "ArialBold";
  font-size: 16px;
  color: #544f4d;
  margin-top: 20px;
}

.social li, .social_2 li {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.social_2 {
  margin-top: -20px;
}

#twitter {
  background: url("../img/social_sprite.png") 0 0;
}

#pinterest {
  background: url("../img/social_sprite.png")-45px 0;
}

#facebook {
  background: url("../img/social_sprite.png")-90px 0;
}

#google {
  background: url("../img/social_sprite.png") 0px -42px;
}

#telegram {
  background: url("../img/social_sprite.png") -46px -42px;
}

#viber {
  background: url("../img/social_sprite.png") -91px -42px;
}

.secured img {
  margin-top: 35px;
}

.show_footer {
  display: none;
  height: 75px;
  background-color: #000;
  line-height: 75px;
  color: #fff;
  font-size: 30px;
  padding-left: 20px;
}

.privacy {
  margin-top: 25px;
  display: block;
  float: right;
  margin-right: 20px;
  font-size: 11px;
  line-height: 11px;
}

.footer_nav {
  background-color: #000;
  height: 75px;
  line-height: 75px;
}

.footer_nav ul {
  margin: 0;
  display: inline-block;
}

.footer_nav ul li {
  display: inline;
  list-style-type: none;
}

.footer_nav ul li:after {
  content: '|';
  margin: 20px;
  color: #8E8E8E;
}

.footer_nav ul li:last-child:after {
  content: "";
  margin: 0px;
}

.footer_nav ul li a {
  color: #8E8E8E;
}

.slick-active button {
  color: #fff;
}

.adImgSection {
  margin-top: 35px;
  display: none;
}

.adImgContainer {
  margin: 0 auto;
  width: 85%;
}

.adImgContainer a {
  display: inline-block;
  vertical-align: top;
  float: left;
}

.adImgContainer a img {
  max-width: 100%;
}
