@media screen and (max-width: 1280px) {
  .second_slider {
    width: 940px;
  }
  .one_slide {
    padding-left: 8px;
  }
  .slick-prev.slick-arrow {
    left: 850px;
  }
  .second_slider_wrapper {
    width: 940px;
  }
  .adImgContainer {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .second_slider {
    width: 720px;
  }
  .one_slide {
    padding-left: 10.5px;
  }
  .best_sellers span {
    font-size: 23px;
  }
  .fall_leather {
    top: 20px;
  }
  .fall_leather span {
    font-size: 20px;
    line-height: 0.7;
  }
  .slick-prev.slick-arrow {
    left: 630px;
  }
  .menu_button {
    display: block;
  }
  .main_mnu {
    display: none;
    margin: 0;
    padding: 0;
  }
  .main_mnu li {
    display: block;
    background-color: #fab38e;
    line-height: 45px;
    border-bottom: 1px solid #fd926d;
    padding-left: 10px;
  }
  .main_mnu li:hover {
    background-color: #db7a59;
  }
  .inner_mnu {
    position: inherit;
    display: none;
    left: 0px;
  }
  .fall_leather span {
    top: 20px;
  }
  .sale_block {
    width: 480px;
  }
  .second_slider_wrapper {
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .social {
    text-align: center;
  }
  .soc_icons {
    text-align: center;
    float: none;
  }
  .cart {
    margin-bottom: 10px;
  }
  .logo {
    text-align: center;
  }
  .second_slider_wrapper {
    width: 480px;
  }
  .second_slider {
    width: 480px;
  }
  .show_footer {
    display: block;
  }
  .footer {
    display: none;
  }
  .footer_nav {
    display: none;
  }
  .adImgSection {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .second_slider {
    width: 480px;
  }
  .show_tabs {
    display: block;
  }
  .tabs_list {
    margin-top: 5px;
    display: none;
  }
  .tabs_list li {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .second_slider_wrapper {
    width: 240px;
  }
  .second_slider {
    width: 240px;
  }
  .sale_block {
    width: 240px;
  }
  .brands_section {
    display: none;
  }
  .about_section {
    display: none;
  }
  .payments {
    display: none;
  }
}
